---
import Image from '@/shared/components/image.svelte';
import type { SimpleMediaItem } from '@/shared/types/general';

interface Props {
  class: string;
  icon: SimpleMediaItem;
}

const { class: className, icon } = Astro.props;
---

<div class={className}>
  <Image
    alt={icon.alt}
    height={icon.height}
    loading='eager'
    src={icon.url}
    width={icon.width}
  />
</div>

<style>
  div {
    position: relative;
    width: auto;
    max-height: 80px;
    aspect-ratio: 1 / 1;
  }

  div :global(img) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    outline: 1px solid var(--color-neutral-bright1);
    outline-offset: 1px;
  }

  :global(.dark) div :global(img) {
    outline-color: var(--color-neutral-dim1);
  }
</style>
