---
import Image from '@/shared/components/image.svelte';
import type { TechStackItem } from '@/shared/types/response';

interface Props {
  eagerLoadingImage?: boolean;
  techStacks: TechStackItem[];
}

const { eagerLoadingImage, techStacks } = Astro.props;
---

<h4>
  {`Tech Stack${techStacks.length > 1 ? 's' : ''}`}
</h4>

<ul>
  {
    techStacks.map(techStack => {
      let imageNode = null;

      if (techStack.logo?.resourceType === 'image') {
        const imageProps = {
          alt: techStack.logo.alt,
          height: techStack.logo.height,
          src: techStack.logo.url,
          width: techStack.logo.width,
        };

        if (eagerLoadingImage) {
          imageNode = <Image {...imageProps} loading='eager' />;
        } else {
          imageNode = <Image {...imageProps} client:visible />;
        }
      }

      const techStackNode = (
        <>
          {imageNode}
          <span>{techStack.name}</span>
        </>
      );

      if (!techStack.url) {
        return (
          <li class='btn btn-text btn-primary' title={techStack.name}>
            {techStackNode}
          </li>
        );
      }

      return (
        <li>
          <a
            class='btn btn-text btn-primary'
            href={techStack.url ?? ''}
            target='_blank'
            rel='noreferrer noopener'
            title={techStack.name}
          >
            {techStackNode}
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  h4 {
    color: var(--color-neutral-dim2);
  }

  :global(.dark) h4 {
    color: var(--color-neutral-bright2);
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    list-style: none;
  }

  .btn {
    gap: 8px;
    height: 24px;
  }

  li.btn {
    cursor: default;
  }
</style>
