---
import Image from '@/shared/components/image.svelte';
import type { TechStackItem } from '@/shared/types/response';

interface Props {
  techStacks: TechStackItem[];
}

const { techStacks } = Astro.props;
---

<h4 class='text-neutral-dim2 dark:text-neutral-bright2'>
  {`Tech Stack${techStacks.length > 1 ? 's' : ''}`}
</h4>

<ul class='list-none flex gap-2 flex-wrap w-full'>
  {
    techStacks.map(techStack => {
      const techStackNode = (
        <>
          {techStack.logo?.resourceType === 'image' && (
            <Image
              alt={techStack.logo.alt}
              height={techStack.logo.height}
              src={techStack.logo.url}
              width={techStack.logo.width}
              client:visible
            />
          )}
          <span>{techStack.name}</span>
        </>
      );

      if (!techStack.url) {
        return (
          <li
            class='btn btn-text btn-primary h-6 gap-2'
            style='cursor: default;'
            title={techStack.name}
          >
            {techStackNode}
          </li>
        );
      }

      return (
        <li>
          <a
            class='btn btn-text btn-primary h-6 gap-2'
            href={techStack.url ?? ''}
            target='_blank'
            rel='noreferrer noopener'
            title={techStack.name}
          >
            {techStackNode}
          </a>
        </li>
      );
    })
  }
</ul>
