---
import { fill } from '@cloudinary/url-gen/actions/resize';
import { face } from '@cloudinary/url-gen/qualifiers/focusOn';
import { focusOn } from '@cloudinary/url-gen/qualifiers/gravity';

import Verified from '@/shared/icons/verified.svelte';
import { cld } from '@/shared/lib/cloudinary';

import Bio from '../bio.astro';
import Counts from '../counts.astro';
import AvatarWrapper from './components/avatar-wrapper.svelte';
import Socials from './components/socials.svelte';

interface Props {
  hasStories: boolean;
  totalPortfolio: number;
  totalTechSkills: number;
}

const { hasStories, totalPortfolio, totalTechSkills } = Astro.props;

const fullName = 'Syahrul Rofi';

const imageSize = 176;
const profileImage = cld.image('rofisyahrul.com/rofi');
const profileImageURL = profileImage
  .resize(fill().width(200).height(200).gravity(focusOn(face())))
  .toURL();
---

<section>
  <AvatarWrapper class='avatar' {hasStories}>
    <img
      alt={fullName}
      height={imageSize}
      loading='eager'
      src={profileImageURL}
      width={imageSize}
    />
  </AvatarWrapper>

  <div class='detail'>
    <div class='detail__fullname'>
      <h2 class='text-2xl sm:text-3xl'>{fullName}</h2>
      <Verified class='detail__verified-icon' />
    </div>

    <Socials />
    <Counts section='top-fold' {totalPortfolio} {totalTechSkills} />

    <Bio section='top-fold' />
  </div>
</section>

<style>
  section {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
    padding: 0 12px;
  }

  .avatar {
    --size: 80px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    border-width: 2px;
  }

  .avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid var(--color-neutral-bright1);
    object-fit: contain;
  }

  :global(.dark) .avatar img {
    border-color: var(--color-neutral-dim1);
  }

  a.avatar img {
    border: none;
  }

  .detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
    width: auto;
  }

  .detail__fullname {
    display: flex;
    gap: 4px;
    align-items: center;
  }

  .detail__fullname h2 {
    font-weight: 700;
  }

  .detail__verified-icon {
    color: var(--color-primary-dim);
  }

  :global(.dark) .detail__verified-icon {
    color: var(--color-primary-bright);
  }

  @media (min-width: 640px) {
    section {
      align-items: flex-start;
    }

    .avatar {
      --size: 128px;
    }

    .detail {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    .avatar {
      --size: 176px;
    }
  }
</style>
